* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Sans Pro', 'Spin Cycle', sans-serif;
    background-image:url("images/headphones_hero_1.jpg");
    background-attachment:fixed;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section {
    display: flex;
   flex-direction: column;
   align-items: center;
    text-align: center;
}
.columns {
    width: 100%;
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
 }
/* ============== HEADER ============ */
header {
    padding:30px 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-logo {
    display: none;
}
 a img {
    width: 161px;
    height: 32px;
}
nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
nav li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}
nav li a:hover {
    color: #FF6565;
}

@media screen and (max-width: 480px) {
    header {
       flex-wrap: wrap;
       justify-content: center;
    }
    
    header ul {
       display: none;
       flex-direction: column;
       overflow: hidden;
       max-height: 0;
       transition: max-height .2s ease-out;
       justify-content: center;
    }
 
    header ul li {
       margin: 0 0;
       padding-bottom: 3rem;
    }
}

/* ============== END HEADER ============ */

/* ============== hero section ============ */
#hero {
    text-align: center;
    align-items: center;
    margin-top: 250px;
    margin-bottom: 100px;
}
#hero h1 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}
#hero h1+p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 50px;
}
#hero button {
    width: 162px;
    height: 44px;
    border-radius: 22px;
    background: #FF6565;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 70px;
    box-shadow: 4px 4px 4px black;
}
#hero button:hover {
    cursor: pointer;
    opacity: 0.9
}
#hero button+p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* ============== END of hero section ============ */

/* ============== start of what we do ============ */
#description {
    background-color: #fff;
    padding: 100px 0px;
}
.what-we-do h2 {
    color: #071629;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 50px;
}
.what-we-do h2+p {
    color: #071629;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 100px;
}
.music :hover {
    display: flex;
    flex-wrap: row wrap;
    align-items: center;
    justify-content: center;
        color: #FF6565;
        opacity: 0.9
    }
    
.music div {
    width: 207px;
    height: 180px;
    text-align: center;
}
.music div img {
    width: 51.66px;
    height: 57.266px;
}
.music div h3 {
    color: #071629;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px; 
    margin: 20px 0px;
}
.music div h3+p {
    color: #071629;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}
@media screen and (max-width: 768px) {
    #description .music {
       display: flex;
       flex-wrap: wrap;
       padding: 0;
    }
 
    #description .music li {
       width: 50%;
    }
 }
 
 @media screen and (max-width: 575px) {
    #description .music {
       flex-direction: column;
       padding: 0;
    }

@media screen and (max-width: 1000px) {
    section {
      padding: 100px 50px;
    }
 }
 
 @media screen and (max-width: 600px) {
    section {
       padding: 80px 30px;
    }
 }
 }
 /* ============== END of what we do ============ */

   /*-----Start of our results section-----*/

   .ourresults {
    background-position: center;
    background-attachment:scroll;
background-position:top;
background-size: cover;
background-repeat: no-repeat;
padding: 100px 0px;
    background-image: url(./images/headphones_hero_2.jpg);
 }
.ourresults .hexagons :hover {
    display: flex;
    color: black;
        opacity: 0.9
    
 }
.ourresults .hexagons .poly { 
background-image: url(./images/pentagone.png);
background-size: 75%;
background-repeat: no-repeat;
width: 190px;
height: 190px;
display: flex;
flex-wrap: wrap;
flex-flow: column;
justify-content: center;
align-items: center;
margin: 50px;
}
.ourresults h2 {  

text-align: center;
align-items: center;
margin-top: 10px;
color: #FFF;
font-weight: 700;
padding:50px
}
.ourresults p {  

text-align: center;
align-items: center;
margin-top: 10px;
color: #FFF;
font-weight: 500;
font-size: 14px;
line-height: 26px;
margin-bottom: 25px;
display: flex;
justify-content: center;
}
.ourresults .hexagons .poly .p {
margin-bottom: 100px;
display: flex;
padding: 50px 30px 30px; 
}

@media screen and (max-width: 1000px) {
    .ourresults .hexagons {
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       padding: 0;
    }
    .ourresults .hexagons .poly {
        width: 50%;
 }
}
 @media screen and (max-width: 575px) {
    .ourresults .hexagons {
        display: flex;
       flex-wrap: wrap;
       flex-direction: column;
       padding: 0;
    }
 }
      /*-----end of our results section-----*/

        /*-----Start of contact section-----*/

        #contact {
            background-color: #fff;
            padding: 100px 0px;
        }
        #contact-us h3 {
            color: #071629;
            text-align: center;
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 50px;   
        }
        form {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
        form div {
            display: flex;
            width: 335px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-bottom: 50px; 
        }
        form label {
            color: #071629;
            font-size: 14px;
            font-weight: 600;
        }
        form input {
            display: flex;
            width: 335px;
            height: 30px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            border: none;
            border-bottom: 1px solid #071629;
        }
        form button {
            width: 162px;
            height: 44px;
            border-radius: 22px;
            background: #FF6565;
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-weight: 700;
            border: none;
        }
        form button:hover {
            cursor: pointer;
            opacity: 0.9
        }
        /*-----end of contact section-----*/

        /*-----start of footer-----*/

        .footer {
            background-color:#071629;
            height: 200px;
            padding-top: 100px;
            padding-right: 0;
            text-align: center;  
         }
        #items nav li a {
            text-decoration: none;
            font-size: 16px;
            font-weight: 700;
            color: #fff;
        }
        #items a {
            display: flex;
            align-items: center;
            justify-content:space-between;
        }
        footer p .copy {
            color:darkgrey;
        }
         @media screen and (max-width: 480px) {
            #items {
                flex-wrap: wrap;
                justify-content: center;
             }
         
            #items ul {
                display: none;
               flex-direction: column;
               overflow: hidden;
               max-height: 0;
               transition: max-height .2s ease-out;
               justify-content: center;
            }
        
            #items ul li {
               margin: 0 0;
               padding-bottom: 3rem;
            }
        }
                 /*-----end of footer-----*/
