body { 
    display: flex;
    flex-direction: column;
    background-color:beige;
}
main { 
    display: flex;
    flex-direction: row;
    flex: auto;
}
article {
    flex: 2;
    overflow-y: auto;
}
aside {
    flex: 1;
    overflow-y: auto;
    background-color:darkseagreen;
}
header {
    background-color:chocolate;
    text-align: center;
}
footer {
    background-color:chocolate;
    text-align: center;
}
table {
    border-collapse: collapse;
    border: 4px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  td, th {
    border: 1px solid rgb(112, 98, 98);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(158, 118, 118);
  }
  
  td {
    text-align: center;
  }
  tr:nth-child(even) td {
    background-color:rgb(235,235,235);
  }
  
  tr:nth-child(odd) td {
    background-color:rgb(235,235,235);
  }